body {
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

body.dark-mode .form-control {
  background-color: #2b2b2b;
  color: #ffffff;
  border-color: #444;
}

body.dark-mode .border-end {
  border-color: #444 !important;
}
